@model Offer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
