@using System.Globalization
@model SamplePrintableForm.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd>
            @{
                var fullName = $"{Html.DisplayTextFor(model => model.Customer.Name)} {Html.DisplayTextFor(model => model.Customer.MiddleName) ?? ""} {Html.DisplayTextFor(model => model.Customer.Surname)}";
            }
            @fullName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd>
            @{
                var email = Html.DisplayTextFor(model => model.Customer.Email);
            }
            <a href="mailto:@email" class="no-reformat">@email</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @{
                var dateString = Html.DisplayTextFor(model => model.Date);
                var date = DateTime.Parse(dateString).ToLocalTime().ToString("D", CultureInfo.InvariantCulture);
            }
            @date
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price) @Html.DisplayFor(model => model.Currency.Symbol)
        </dd>
    </dl>
</div>
<div class="no-print">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="#" onclick="window.print()">Print</a> |
    <a asp-action="Index">Back to List</a>
</div>
